vagrant/auto-start-vm/iaac/auto-provision-wordpress-website/wordpress.conf
vagrant/auto-start-vm/iaac/auto-provision-website/.vagrant/
vagrant/auto-start-vm/iaac/auto-provision-wordpress-website/.vagrant/
vagrant/auto-start-vm/centos7/.vagrant/
vagrant/auto-start-vm/ubuntu18/.vagrant/
vagrant/auto-start-vm/website-wordpress/.vagrant/
vagrant/auto-start-vm/wedding-website/.vagrant/
vagrant/auto-start-vm/multiVM-mgt/.vagrant/
vagrant/auto-start-vm/deployments/manual/java/.vagrant/
VprofileProjectSetup.pdf
vagrant-vms.zip