vagrant/auto-start-vm/iaac/auto-provision-wordpress-website/wordpress.conf
vagrant/auto-start-vm/iaac/auto-provision-website/.vagrant/
vagrant/auto-start-vm/iaac/auto-provision-wordpress-website/.vagrant/
vagrant/auto-start-vm/centos7/.vagrant/
vagrant/auto-start-vm/ubuntu18/.vagrant/
vagrant/auto-start-vm/website-wordpress/.vagrant/
vagrant/auto-start-vm/wedding-website/.vagrant/
vagrant/auto-start-vm/multiVM-mgt/.vagrant/
vagrant/auto-start-vm/deployments/manual/java/.vagrant/
VprofileProjectSetup.pdf
vagrant-vms.zip
vagrant/auto-start-vm/deployments/automated/java/application.properties
vagrant/auto-start-vm/deployments/manual/java/ubuntu-bionic-18.04-cloudimg-console.log
vagrant/auto-start-vm/deployments/automated/java/.vagrant/
vagrant/auto-start-vm/containers/intro-docker/.vagrant/
vagrant/auto-start-vm/containers/intro-microservices/.vagrant/
emart_docker-compose.txt
vagrant/auto-start-vm/bash-scripting/.vagrant/
bash_scripts_DPC.zip
vagrant/auto-start-vm/mac/stvm/.vagrant/
.DS_Store
vagrant/.DS_Store
vagrant/auto-start-vm/.DS_Store
vagrant/auto-start-vm/auto-website/.vagrant/